*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    font-family: 'Poppins Regular', sans-serif;
    list-style: none;
    font-size: 10px;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 18rem;
    & main{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        & div{
            width: 80%;
            height: 20rem;
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 4rem;
            margin-top: 6rem;
            box-shadow: 1rem 1rem 1rem #dddddd;
            & span{
                width: 100%;
                font-size: 3rem;
                font-weight: 800;
                text-align: center;
                color: #B95716;
            }
            & a{
                width: 100%;
                margin-top: 4rem;
                width: max-content;
                height: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                padding: 1rem 2rem;
                font-size: 3rem;
                color: #ffffff;
                background-color: #1678b9;
            }
        }
    }
}


.body::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 1rem;
}


.body::-webkit-scrollbar-thumb{
    background-color: #9e9e9e;
    border-radius: .8rem;
}


.Header{
    width: 100%;
    height: max-content;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: #fcf4eb;
    & .headerdiv{
        width: 100%;
        height: 100%;
        position: relative;
    }
    & div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        & .img-logo-containt{
            width: 100%;
            display: flex;
            height: max-content;
            align-items: center;
            position: relative;
        }
    }
    & .btnTemaContainer{
        width: 100%;
        background-color: #c97f00cc;
        display: inline-flex;
        justify-content: center;
        height: 5rem;
    }
    & .logo-contain{
        width: 9rem;
        height: max-content;
        margin-top: 2rem;
        overflow: hidden;
        margin-left: 4rem;
        margin-bottom: 2rem;
        cursor: pointer;
    }
    & .imgPath{
        overflow: hidden;
        justify-self: flex-end;
        position: absolute;
        right: 0;
        width: 30%;
        z-index: 100;
        height: 100%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    }
    & .imgPath2{
        overflow: hidden;
        justify-self: flex-end;
        position: absolute;
        right: 0;
        width: 45%;
        z-index: 50;
        & div{
            width: 100%;
            position: absolute;
            z-index: 100;
            height: 100%;
            background-color: #fcf4eb;
            filter: opacity(20%);
        }
        & img{
            transform: scaleX(-1);
        }
        height: 20rem;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    }
    & .imgPath3{
        overflow: hidden;
        justify-self: flex-end;
        position: absolute;
        right: 0;
        width: 58%;
        height: 20rem;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        & div{
            width: 100%;
            position: absolute;
            z-index: 100;
            height: 100%;
            background-color: #fcf4eb;
            filter: opacity(60%);
        }
    }
    & .Header_Nav{
        background-color: #df681933;
        border-top: 2px solid #b95716;
        border-bottom: 5px solid #b95716;
        width: 100%;
        position: relative;
        top: 0px;
        display: flex;
        height: 6rem;
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        & .divRelle{
            height: 100%;
            width: 9.2%;
            left: 66%;
            transform: translateX(-100%);
            background-color: #b9571666;
            position: absolute;
        }
        & .Header_Nav-UL{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & .nav-lisContaint{
                width: 66%;
                height: 100%;
                & li{
                    display: flex;
                    align-items: center;
                    & .enlace{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0 3rem;
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #b95716;
                        width: 100%;
                        min-height: 100%;
                        text-decoration: none;
                        font-family: 'Poppins Regular', sans-serif;
                        transition: .4s;
                        cursor: pointer;
                        &:hover{
                            background-color: #b95716;
                            color: #fcf4eb;
                        }
                    }
                }
            }
            & .iniRegiContain{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: 34%;
                & .user-enlace{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    gap: 1rem;
                    background-color: #b95716;
                    transition: .4s;
                    & span{
                        color: #fcf4eb;
                        font-size: 1.5rem;
                        font-weight: 700;
                        font-family: 'Poppins Regular', sans-serif;
                        transition: .4s;
                    }
                    &:hover{
                        background-color:  #f7d8c1;
                        & span{
                            color: #b95716;
                        }
                        & .icon-user{
                            fill:#b95716;
                        }
                        & .icon-entrar{
                            fill:#b95716;
                        }
                    }
                }
                & .salir-enlace{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    height: 100%;
                    gap: 1rem;
                    background-color: #b95716;
                    transition: .4s;
                    & span{
                        color:#fcf4eb;
                        font-size: 1.5rem;
                        font-weight: 700;
                        font-family: 'Poppins Regular', sans-serif;
                        transition: .4s;
                    }
                    &:hover{
                        background-color: #f7d8c1;
                        & span{
                            color: #b95716;
                        }
                        & .icon-salir{
                            fill:#b95716;
                        }
                        & .icon-regis{
                            fill:#b95716;
                        }
                    }
                }
                & .icon-salir{
                    width: 10%;
                    height: max-content;
                    fill: #fcf4eb;
                    transition: .4s;
                }
                & .icon-user{
                    width: 10%;
                    height: max-content;
                    fill: #fcf4eb;
                    transition: .4s;
                }
                & .icon-entrar{
                    width: 10%;
                    height: max-content;
                    fill: #fcf4eb;
                    transition: .4s;
                }
                & .icon-regis{
                    width: 10%;
                    height: max-content;
                    fill: #fcf4eb;
                    transition: .4s;
                }
            }
        }
    }
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 18rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #d36114;
    & .copy{
        font-size: 2rem;
        width: 100%;
        text-align: center;
        padding: 4rem 0;
        color: #ffffdd;
        font-family: 'Stellar', sans-serif;
        font-weight: 500;
    }
}